@use "../components/Color.scss" as *;

.card{
    display: flex;
    box-sizing: border-box;
    border: 1px rgb(255, 0, 0) solid;
    background-color: $grid-background-dark;
    margin: auto;
    width: 90%;
    height: 100%;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 10px;
    }
    &_title{
        color: $color-tertiary;
        position: absolute;
        text-align: center;
    }
    
}