@use "../components/Color.scss" as *;

ul{
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.right_side{
    display: flex;
    a{
        padding-left: 25px;
        color: $color-primary;
        text-decoration: none;
    }
}